#root, html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app{
  height: 100%;
  background-image: url(./assets/advice.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.app h1{
  padding-top: 670px;
  font-size: 50px;
}